<footer class="row">
    <div class="col-md-12">
        <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="contact-item">
                    <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
                    <div class="title only pull-right"><a href="mailto:{{ site.email }}">{{ site.email }}</a></div>
                </div>
            </div>

            {% if site.github_username %}
            <div class="col-md-3">
                <div class="contact-item">
                    <div class="icon pull-left text-center"><span class="fa fa-github fa-fw"></span></div>
                    <div class="title pull-right">Github</div>
                    <div class="description pull-right"><a href="https://github.com/{{ site.github_username }}">@{{ site.github_username }}</a></div>
                </div>
            </div>
            {% endif %}

            {% if site.twitter_username %}
            <div class="col-md-3">
                <div class="contact-item">
                    <div class="icon pull-left text-center"><span class="fa fa-twitter fa-fw"></span></div>
                    <div class="title pull-right">Twitter</div>
                    <div class="description pull-right"><a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></div>
                </div>
            </div>
            {% endif %}

            <div class="col-md-3">
                <p>{{ site.description }}</p>
                <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
            </div>
        </div>
    </div>
</footer>
