        <div id="twitter-feed">
            <button class="close-twitter btn-link"><i class="fa fa-times"></i></button>
            <a class="twitter-timeline" href="https://twitter.com/joshcartme" data-widget-id="586321690604376064">Tweets by @joshcartme</a>
        </div>
        <div class="instagram-background"><div class="overlay"></div></div>
        <div class="icons">
                <button class="insta-full btn btn-link"><i class="fa fa-long-arrow-down"></i><i class="fa fa-long-arrow-up"></i></button>
                <button class="show-twitter btn btn-link"><i class="fa fa-twitter"></i></button>
                <button class="toggle-feed btn btn-link"><i class="fa fa-adjust"></i></button>
        </div>